.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1500px;
    position: relative;
    margin: auto;
    max-height: 1000px;
    text-align: -webkit-center;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.slide-show-image {
    width: 25% !important;
    height: 350px;
    width: 300px;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 5.0s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.header-logo {
  width: 100px;
  height: 40px;
}

.text-box {
    display: -webkit-box;
    max-width: 300px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news-page-container {
  display: flex;
  flex-direction: row;
}

.news-container {
  width: 70%;
}

.other-news {
 width: 30%; 
 padding: 0 0 0 2rem; 
 float: right;
}

.search-by-game-news-button {
  background-color: #c9b18e;
  color: #303030;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px #1d2127;
}

.recent-news-title {
  color: #c9b18e;
}

.recent-news-card {
  display: inline-block;
  width: 100%;
  padding-bottom: 1rem;
}

.news-card {
  display: flex;
  flex-direction: row;
  background-color: #3A373F;
}

.card-image {
  max-height: 300px;
  max-width: 50%
}

.card-title, .publisher-link {
  text-decoration: none;
  color: #c9b18e;
}

.card-title:hover, .publisher-link:hover{
  color: white;
}

.other-news-card{
  display: inline-block;
  width: 100%;
  padding-bottom: 1rem;
}

.top-news-button{
  float: right;
  background-color: #c9b18e;
  color: #303030;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px #1d2127;
}

.deal-info {
    box-shadow: rgba(112, 128, 144, 0.4) -3px 8px 3px -3px;
    margin: 10px 0px
}

.deal-title {
    height: 50px;
    /* display: -webkit-box; */
    /* -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; */
    /* overflow: hidden; */
    
}

.price-info {
    margin: 5px
}

.collum {
    background-color: rgb(0, 0, 0);
    width: 105px;
    height: auto;
    margin-left: auto;
}



.scrolling-wrapper {
  display: flex;
  align-items: center;
  list-style: none;
  max-width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;

}

::-webkit-scrollbar {
  background: transparent; /* make scrollbar transparent */
  -webkit-appearance: none;
  width: 0;
  height: 0;


}
.deal-card {
  margin:10px 20px 50px 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 2px 3px 4px rgba(112,128,144,0.4);
  overflow: hidden;
  width: 250px;
}

.scroll-button{
  border: 0;
  color: rgb(0, 0, 0);
  background-color: rgb(69, 69, 69);
  font-size: 24px;
  margin: 0 1% 0 1%;
}

.scrollable-deals-container{
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-image{
  width: 100%;
  height: 100px;
  object-fit: cover;

}

.image-div{
  width: 100%;
  height: 100px;
  object-fit: cover;

}

.checkbox-div{
  margin-top: 0;
  float: left;
  width: 81%;
  color: #c9b18e;
}

.filter-bar{
  display: inline-block;
  background-color: rgb(69, 69, 69);
  border-radius: 25px;

}

.checkbox{
  display: inline;
  border: #c9b18e;
  color: #c9b18e;
  list-style-type: none;
  padding-right: 10px;
  padding-top: 10px;
}



.inpu{
  accent-color: #000000;
  border: #000000;
}

.divider{
  margin: 15px auto;
  height: 3px;
  background: rgb(215,215,215);
  background: radial-gradient(circle, rgba(215,215,215,1) 0%, rgba(78,78,78,1) 46%, rgb(51, 51, 51) 100%);
  border-bottom: 1px inset rgb(69, 69, 69);
}

.deals-page-container {
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0% 1% 0% 1%
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.deal-div{
  display: inline-block;
}

.modal { font-size: 12px;}.modal > .header { width: 100%; border-bottom: 1px solid gray; font-size: 18px; text-align: center; padding: 5px;}.modal > .content { width: 100%; padding: 10px 5px;}.modal > .actions { width: 100%; padding: 10px 5px; margin: auto; text-align: center;}.modal > .close { cursor: pointer; position: absolute; display: block; padding: 2px 5px; line-height: 20px; right: -10px; top: -10px; font-size: 24px; background: #ffffff; border-radius: 18px; border: 1px solid #cfcece;}